flask
flask-cors
waitress
argostranslate
deep-translator
openai-whisper
torch
torchaudio
transformers
edge-tts
pydub
audioop-lts
Pillow
opencv-contrib-python-headless
face-alignment
librosa
scipy
numpy
numba
resampy
soundfile
tiktoken
imageio
imageio-ffmpeg
regex
